/*********************
Configuration générale
************************/
body {
    font-family: 'Roboto', sans-serif;
    background-color: #161b22;
    color: lightgrey;
}

/***********
Alignement
**********/
.container {
    display: flex;
}

.child-container {
    flex: 1;
}

.child-container:first-child {
    margin-right: 20px;
}

/*********
Form card 
**********/
.form-title h2 {
    color: #e7ebf0;
    background: #17242c;
    padding: 10px 20px;
    font-size: 20px;
    font-weight: 500;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.form-card {
    background-color: #1a2935;
    padding: 10px 15px 25px 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin: -16px 0 20px 0;
}

/*********************
Affichage des erreurs
***********************/
.error {
    border: .3px solid rgb(218, 85, 85);
    margin: auto;
    width: 80%;
    padding: 15px 10px 15px 10px;
    color: rgb(218, 85, 85);
    background-color: rgb(218, 85, 85, .25);
}

.error>.fa-solid {
    margin-right: 10px;
}

/*******
Bouton
********/
button {
    padding: 12px 30px;
    border-radius: 50px;
    cursor: pointer;
    border: 0;
    background-color: white;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    transition: all 0.5s ease;
}

button:hover {
    letter-spacing: 3px;
    background-color: #009ca9;
    color: white;
}

button:active {
    letter-spacing: 3px;
    background-color: #007e8a;
    color: white;
    transition: 100ms;
}

button[type=submit] {
    margin-top: 20px;
    margin-right: 20px;
}

input[type="file"]::file-selector-button {
    padding: 8px 23px;
    border-radius: 50px;
    cursor: pointer;
    border: 1px solid white;
    background-color: transparent;
    color: white;
    letter-spacing: 1.5px;
    transition: all 0.5s ease;
}

input[type="file"]::file-selector-button:hover {
    border: 1px solid transparent;
    background-color: white;
    color: black;
}

/*******
Inputs 
********/
input[type=text] {
    width: 80px;
    padding: 5px 5px;
    margin: 8px 0;
    box-sizing: border-box;
    background-color: rgba(22, 27, 34, .35);
    color: white;
    font-size: 1.2em;
    border: solid;
    border-color: transparent;
    border-radius: 5px;
}

input[type=text]:focus {
    border-color: #009ca9;
    background-color: rgba(22, 27, 34, .7);
    outline: none;
}

/*******************************
Div représetant le  listing csv 
 *******************************/
.box {
    width: 50%;
    border-bottom: 20px solid #17242c;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.box h2 {
    color: #e7ebf0;
    background: #17242c;
    padding: 10px 20px;
    font-size: 20px;
    font-weight: 500;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.box ul {
    background: #1a2935;
    margin: -20px 0 0px 0;
}

.box ul:hover li {
    opacity: 0.2;
}

.box ul li {
    list-style: none;
    padding: 10px;
    width: 100%;
    background: #1a2935;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.1);
    transition: transform 0.5s;
    margin-left: -39px;
}

.box ul li:hover {
    transform: scale(1.1);
    z-index: 5;
    background: #17242c;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
    color: #e7ebf0;
    opacity: 1;
}

.box ul li span {
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    background: #009ca9;
    color: #e7ebf0;
    display: inline-block;
    border-radius: 50%;
    margin-right: 10px;
    font-size: 12px;
    font-weight: 600;
    transform: translateY(-2px);
}

.box ul li:hover span {
    background: #e7ebf0;
    color: #009ca9;
}

/******************
Gestion des liens
 ******************/
a {
    text-decoration: none;
    font-size: 15px;
    padding-left: 20px;
}

/* unvisited link */
a:link {
    color: #00ffff;

}

/* visited link */
a:visited {
    color: #00ffff;
}

/* mouse over link */
a:hover {
    color: #e7ebf0;
}

/* selected link */
a:active {
    color: #0fa1b8;
}